body
{
background-color: antiquewhite;
font-family: monospace;
font-size: 20px;
}

.ingredients
{
    color: fuchsia;
    font-weight: bold;
}

#homepage-para
{
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.img
{
    width: auto;
    height: auto;
}

.list
{
    background-color: greenyellow;
}
.list .child
{
    color: red;
}